<!DOCTYPE html>
<html>
<head>
    <title>Игра</title>
    <meta charset="utf-8" />
</head>
<body>

    <script type="text/javascript">

            function checkAnswer(){
                correctCount = +correctCount +1;

            }
    </script>

    <h1>Переведи слово {{textToTranslate}}</h1>

    <form name="AnswerForm" action="javascript:checkAnswer()">
        <input type="text" name="userGuess" /></br></br>
        <input name="Submit"  type="submit" value="Update"/>
    </form>

    <div>
        верных переводов: {{correctCount}}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>


</body>
<html>

